body{
	color: red;
	background-color: lime;
}
h1{
	text-decoration: none;
	font-size: 150%;
}
h2{
	text-decoration: none;
	font-size: 1.2em;
}
p.para1{
	color: blue;
	font-family: Helvetica;
}
p.para2{
	color: green;
}
p.para3{
	color: purple;
	font-style: italic;
}
p.para4{
	line-height: 1.5em;
	background-color: yellow;
	padding: 20px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}
p.para5{
	line-height: 1.5em;
	background-color: yellow;
	padding: 20px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
	/*margin 属性*/
	margin: 20px;
	/*单独调整margin一边*/
	margin-top: 50px;
	margin-left: 400px;
}
