/*
px
%
em
keywords
-------------------
xx-small
x-small
small  = 13px
medium = 16px
large  = 18px
x-large
xx-large
*/
body {
    color: red;
    background-color: lime;
    font-size: 25px;
}

h1 {
    text-decoration: none;
    /*25px的150%*/
    font-size: 150%;
}

h2 {
    text-decoration: none;
    /*25px的1.2倍*/
    font-size: 1.2em;
}

p.para1 {
    color: blue;
    font-family: Helvetica;
}

p.para2 {
    color: green;
}

p.para3 {
    color: purple;
    font-style: italic;
}
