body {
    color: red;
}

h1, h2 {
    text-decoration: none;
}

p.para1 {
    color: blue;
    font-size: 25px;
    font-family: Helvetica;
}

p.para2 {
    color: green;
    font-size: 25px;
}

p.para3 {
    color: purple;
    font-size: 25px;
    /*斜体样式*/
    font-style: italic;
}
